<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rectnativeclicksoft">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="pk.eyJ1IjoiZmVsaXBlNDg3IiwiYSI6ImNrcXZudXA4cDA0NXcyb3BqbHBmamV6anEifQ.Q_xOjogcxeTM1GNbNsi3KA" />
      </activity>
    </application>
</manifest>
